{{ content }}

<table style="width: 100%;table-layout: fixed;">
    {{ game_table }}
      {{ if first && first_row_headers }}
        <thead>
          <tr>
            {{ cells }}
              <th>{{ value|markdown }}</th>
            {{ /cells }}
          </tr>
        </thead>
        <tbody>
      {{ /if }}
      {{ if !first && first_row_headers || !first_row_headers }}
        {{ if first }}
          <tbody>
        {{ /if }}
          <tr>
            {{ cells }}
              <td>{{ value|markdown }}</td>
            {{ /cells }}
          </tr>
        {{ if last }}
          </tbody>
        {{ /if }}
      {{ /if }}
    {{ /game_table }}
  </table>